.heading{
   
    font-family: 'Montez', cursive; 
    color: blue;
    font-size: 60px;
    margin: 10px;

}


#subheading{
    color: white;
    font-family: 'Ubuntu Mono';
    font-size: 15px;
    margin: 40px;
}
.button{
    background: blue;
    text-align: center;
    position: absolute;
    justify-content: center;
    font-size: 12pt;
    padding: 12px 20px;
    border: 1px solid transparent;
    color: white;
    border-radius: 4px;
} 
@media screen and (max-width: 850px) {
    .button {
        padding: 12px 5px;
    }
}

@media screen and (max-width: 715px) {
    .button {
        padding: 12px 3px;
    }
}

@media screen and (max-width: 714px) {
    #signin {
        left: 78%;
    }
    #signup{
        left: 89%;
    }
}

@media screen and (max-width: 620px) {
    #signin {
        left: 76%;
    }
    #signup{
        left: 87%;
    }
}

@media screen and (max-width: 555px) {
    #signin {
        left: 72%;
    }
    #signup{
        left: 83%;
    }
}

@media screen and (max-width: 555px) {
    #signin {
        left: 68%;
    }
    #signup{
        left: 83%;
    }
}
#signin{
    left: 80%;
    top: 1.5%;
}

#signup{
    left: 90%;
    top: 1.5%;
}

#allPostbtn{
    top: 50%;
    left: 40%;

}

#createPostbtn{
    top: 50%;
    left: 52%;
}