body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color:#ffeedd;
    background-size: 2000% 2000%;
}

.post {
    position: relative;
    width: 40%;
    height: 15%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 80px;
    display: inline-block;
    border-radius: 15px;
}

@media screen and (max-width: 920px) { 
    .post{
        margin: 10px 10px 10px 60px;
    }
}

@media screen and (max-width: 720px) {
    .post{
        float: left;
    }
}

@media screen and (max-width: 720px) {
    .post{
        width: 38%;
        float: left;
    }
}

@media screen and (max-width: 585px) {
    .post{
        width: 32%;
        float: left;
    }
}

@media screen and (max-width: 550px) {
    .post{
        margin: 10px 6px 6px 60px; 
    }
}


@media screen and (max-width: 500px) {
    .post{
        margin: 10px 2px 2px 60px; 
    }
}

@media screen and (max-width: 470px) {
    .post{
        position: inherit;
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .post{
        width: 40%;
        margin: 10px 2px 2px 18px; 
    }
}

   
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}

.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}

 /* Responsive post-title class */

.post-title{
   
    color: #2b312b;
    height: 25px;
    }
    
@media screen and (max-width: 1060px) {
    .post-title {
        font-size: 20px;
        height: 10px;
    }
}

@media screen and (max-width: 850px) {
    .post-title {
        font-size: 15px;
        height: 5px;
    }
}

@media screen and (max-width: 720px) {
    .post-title {
        font-size: 13px;
        height: 2px;
    }
}

@media screen and (max-width: 640px) {
    .post-title {
        font-size: 12px;
        height: 2px;
    }
}

@media screen and (max-width: 620px) {
    .post-title {
        font-size: 10px;
        height: 2px;
    }
}

@media screen and (max-width: 587px) {
    .post-title {
        font-size: 8px;
        height: 2px;
    }
}



.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative; 
    line-height: 0.95em;
    max-height: 3.6em; 
    text-align: justify;
    margin-right: 30px;
}




.allPostsContainer {
    height: 100%;
    width: 100%;
}

.ellipsis{
    margin-top: 10px;
    float: right;
    letter-spacing: 2px;
    font-weight: bold;
}

#centerPost{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 720px) { /* width at which layout changes  */
    #centerPost{
        display: inline-block;
        margin-left: 225px;
    }
}

@media screen and (max-width: 587px) { 
    #centerPost {
        margin-left: 200px;
    }
}

@media screen and (max-width: 550px) {
    #centerPost {
        margin-left: 180px;
    }
}

@media screen and (max-width: 480px) {
    #centerPost {
        margin-left: 150px;
    }
}

@media screen and (max-width: 440px) {
    #centerPost {
        margin-left: 120px;
    }
}

#delete{
    margin-top: 10px;
    float: right;
    font-size: x-large;
}



a {
    color: black;
    text-decoration: none;
}



.center{
    text-align: center;
    color: black;
    font-family: 'Itim', cursive;
}



    
  
    :hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
     
    }
  
    
  