body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color:#ffeedd;
    background-size: 2000% 2000%;
}

.post {
    position: relative;
    width: 40%;
    height: 15%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 80px;
    display: inline-block;
    border-radius: 15px;
}

@media screen and (max-width: 920px) { 
    .post{
        margin: 10px 10px 10px 60px;
    }
}

@media screen and (max-width: 720px) {
    .post{
        float: left;
    }
}

@media screen and (max-width: 720px) {
    .post{
        width: 38%;
        float: left;
    }
}

@media screen and (max-width: 585px) {
    .post{
        width: 32%;
        float: left;
    }
}

@media screen and (max-width: 550px) {
    .post{
        margin: 10px 6px 6px 60px; 
    }
}


@media screen and (max-width: 500px) {
    .post{
        margin: 10px 2px 2px 60px; 
    }
}

@media screen and (max-width: 470px) {
    .post{
        position: inherit;
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .post{
        width: 40%;
        margin: 10px 2px 2px 18px; 
    }
}

   
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}

.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:grey;
    height: 25px;
    }
@media screen and (max-width: 1060px) {
    .post-title {
        font-size: 20px;
        height: 10px;
    }
}

@media screen and (max-width: 850px) {
    .post-title {
        font-size: 15px;
        height: 5px;
    }
}

@media screen and (max-width: 720px) {
    .post-title {
        font-size: 13px;
        height: 2px;
    }
}

@media screen and (max-width: 640px) {
    .post-title {
        font-size: 12px;
        height: 2px;
    }
}

@media screen and (max-width: 620px) {
    .post-title {
        font-size: 10px;
        height: 2px;
    }
}

@media screen and (max-width: 587px) {
    .post-title {
        font-size: 8px;
        height: 2px;
    }
}

.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative; 
    line-height: 0.95em;
    max-height: 2.9em; 
    text-align: justify;
    margin-right: 30px;
}



.allPostsContainer {
    height: 100%;
    width: 100%;
}

.ellipsis{
    margin-top: 10px;
    float: right;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

#centerPost{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 720px) { /* width at which layout changes  */
    #centerPost{
        display: inline-block;
        margin-left: 225px;
    }
}

@media screen and (max-width: 587px) { 
    #centerPost {
        margin-left: 200px;
    }
}

@media screen and (max-width: 550px) {
    #centerPost {
        margin-left: 180px;
    }
}

@media screen and (max-width: 480px) {
    #centerPost {
        margin-left: 150px;
    }
}

@media screen and (max-width: 440px) {
    #centerPost {
        margin-left: 120px;
    }
}

#delete{
    margin-top: 10px;
    float: right;
    font-size: x-large;
}


.delete-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
  }

a {
    color: black;
    text-decoration: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
#modalBtnGreen{
    background: rgba(97, 182, 102);
    text-align: left;
    justify-content: left;
    font-size: 12pt;
    padding: 12px 60px;
    border: 1px solid transparent;
    color: white;
  }

#modalBtnGreen:hover{
    background: rgba(97, 182, 102, 0.8);

}  

#modalBtnGreen:focus{
    background: rgba(97, 182, 102);
    outline: 0;
}

#modalBtnRed{
    background: rgb(247, 87, 79);
    text-align: right;
    justify-content: right;
    font-size: 12pt;
    padding: 12px 60px;
    color: white;
    margin-left: 90px;
    border: 1px solid transparent;
   
 }
 
#modalBtnRed:hover{
    background: rgb(247, 87, 79, 0.8);
 }

#modalBtnRed:focus{
    background: rgb(247, 87, 79);
    outline: 0;
}

.modalBtnContainer{
    margin-left: 10px;
    margin-top: 20px;
}

.center{
    text-align: center;
    color: black;
    font-family: 'Itim';
}





